In [1]:
import pandas as pd
jeopardy = pd.read_csv('jeopardy.csv')

In [2]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [3]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [4]:
columns = list(jeopardy.columns)
columns = [i.strip() for i in columns]
columns

['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

In [5]:
jeopardy.columns = columns

In [6]:
jeopardy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 7 columns):
Show Number    19999 non-null int64
Air Date       19999 non-null object
Round          19999 non-null object
Category       19999 non-null object
Value          19999 non-null object
Question       19999 non-null object
Answer         19999 non-null object
dtypes: int64(1), object(6)
memory usage: 1.1+ MB

In [7]:
import re
def normalize(x):
    x = x.lower()
    x = re.sub("\W"," ",x)
    x = re.sub("\s+", " ",x)
    x = x.strip()
    return x

In [8]:
jeopardy['clean_question'] = jeopardy['Question'].apply(normalize)

In [9]:
jeopardy['clean_answer'] = jeopardy['Answer'].apply(normalize)

In [10]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonald s
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams

In [11]:
def normalize_value(x):
    x = re.sub("\W"," ",x)
    x = re.sub("\s+"," ",x)
    x = x.strip()
    try:
        x = int(x)
    except:
        x = 0
    return x

In [12]:
jeopardy['Value'] = jeopardy['Value'].apply(normalize_value)

In [13]:
jeopardy['Air Date'] = pd.to_datetime(jeopardy['Air Date'])

In [14]:
jeopardy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 9 columns):
Show Number       19999 non-null int64
Air Date          19999 non-null datetime64[ns]
Round             19999 non-null object
Category          19999 non-null object
Value             19999 non-null int64
Question          19999 non-null object
Answer            19999 non-null object
clean_question    19999 non-null object
clean_answer      19999 non-null object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 1.4+ MB

In [15]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonald s
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams

In [16]:
def count_answer_in_question(row):
    split_answer = row['clean_answer'].split()
    split_question = row['clean_question'].split()
    match_count = 0
    if 'the' in split_question:
        while 'the' in split_question:
            split_question.remove('the')
    if len(split_answer) == 0:
        return 0
    for i in split_answer:
        if i in split_question:
            match_count += 1
    return match_count / len(split_answer)

question = count_answer_in_question(jeopardy.loc[0])

In [17]:
jeopardy['answer_in_question'] = jeopardy.apply(count_answer_in_question, axis=1)

In [18]:
mean_aswer_in_question = jeopardy['answer_in_question'].mean()
mean_aswer_in_question

0.059025038192746564

Pouquíssimas perguntas contém a resposta.

In [19]:
question_overlap = []
terms_used = set()
sorted_jeopardy = jeopardy.sort_values('Air Date')

In [20]:
sorted_jeopardy

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,answer_in_question
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,0,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0.000000
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,0.000000
19302,10,1984-09-21,Double Jeopardy!,1789,200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,washington proclaimed nov 26 1789 this first n...,thanksgiving,0.000000
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,both ferde grofe the colorado river dug this n...,the grand canyon,0.000000
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,0.000000
19305,10,1984-09-21,Double Jeopardy!,HOMONYMS,200,Hindu hierarchy or a play's actors,a caste (cast),hindu hierarchy or a play s actors,a caste cast,0.333333
19306,10,1984-09-21,Double Jeopardy!,TV TRIVIA,200,"Last season, this series mourned the loss of S...",Hill Street Blues,last season this series mourned the loss of sg...,hill street blues,0.000000
19307,10,1984-09-21,Double Jeopardy!,1789,400,Why April 28th was a bad day for Capt. Bligh,the day of the mutiny on the Bounty,why april 28th was a bad day for capt bligh,the day of the mutiny on the bounty,0.125000
19308,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,400,Seaside resort that has a monopoly on East Coa...,"Atlantic City, New Jersey",seaside resort that has a monopoly on east coa...,atlantic city new jersey,0.000000
19309,10,1984-09-21,Double Jeopardy!,LITERATURE,400,"He wrote ""The 3 Musketeers""; his son wrote ""Ca...",(Alexandre) Dumas,he wrote the 3 musketeers his son wrote camille,alexandre dumas,0.000000
19310,10,1984-09-21,Double Jeopardy!,HOMONYMS,400,Near or a purchase,by (buy),near or a purchase,by buy,0.000000
19311,10,1984-09-21,Double Jeopardy!,TV TRIVIA,400,He went from the Ponderosa to the prairie,Michael Landon,he went from the ponderosa to the prairie,michael landon,0.000000
19312,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,600,"Since '27, stars have made good impressions at...",Mann's Chinese Theatre,since 27 stars have made good impressions at t...,mann s chinese theatre,0.000000
19313,10,1984-09-21,Double Jeopardy!,LITERATURE,600,Where you can't go again in Thomas Wolfe title,home,where you can t go again in thomas wolfe title,home,0.000000
19314,10,1984-09-21,Double Jeopardy!,HOMONYMS,600,"A fixed look, or Ginger Rogers' partner",a stare (Astaire),a fixed look or ginger rogers partner,a stare astaire,0.333333
19315,10,1984-09-21,Double Jeopardy!,TV TRIVIA,600,"In 1970 he had a ""Goodtime Hour""",Glen Campbell,in 1970 he had a goodtime hour,glen campbell,0.000000
19316,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,800,A thrilling destination for tight-rope walkers...,Niagara Falls,a thrilling destination for tight rope walkers...,niagara falls,0.000000
19317,10,1984-09-21,Double Jeopardy!,LITERATURE,800,Irving's bird-like hero chased by the Headless...,Ichabod Crane,irving s bird like hero chased by the headless...,ichabod crane,0.000000
19318,10,1984-09-21,Double Jeopardy!,HOMONYMS,0,Didn't see the fog,missed (mist),didn t see the fog,missed mist,0.000000
19319,10,1984-09-21,Double Jeopardy!,TV TRIVIA,800,"Jackie Gleason show that rejected titles ""The ...",The Honeymooners,jackie gleason show that rejected titles the l...,the honeymooners,0.000000
19320,10,1984-09-21,Double Jeopardy!,1789,1000,"Now totaling over $1 trillion, it began 11 day...",the national debt,now totaling over 1 trillion it began 11 days ...,the national debt,0.000000
19321,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,1000,Tourists know this Catholic mission as Davy Cr...,the Alamo,tourists know this catholic mission as davy cr...,the alamo,0.000000
19322,10,1984-09-21,Double Jeopardy!,LITERATURE,1000,Shaw's scorched saint,St. Joan of Arc,shaw s scorched saint,st joan of arc,0.000000
19323,10,1984-09-21,Double Jeopardy!,HOMONYMS,1000,Where ships dock or what a jury consists of,piers (peers),where ships dock or what a jury consists of,piers peers,0.000000
19300,10,1984-09-21,Jeopardy!,SPORTS,500,"Boxer whose life was portrayed in ""Somebody Up...",Rocky Graziano,boxer whose life was portrayed in somebody up ...,rocky graziano,0.000000
19324,10,1984-09-21,Double Jeopardy!,TV TRIVIA,1000,"In court, he'd always make mincemeat of Hamilt...",Perry Mason,in court he d always make mincemeat of hamilto...,perry mason,0.000000
19299,10,1984-09-21,Jeopardy!,"""B"" MOVIES",500,Sensitive Mart Crowley treatment of gays march...,The Boys in the Band,sensitive mart crowley treatment of gays march...,the boys in the band,0.000000
19297,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",500,"2nd generation pop singer, he's sung on every ...",Jack Jones,2nd generation pop singer he s sung on every l...,jack jones,0.000000
19274,10,1984-09-21,Jeopardy!,GEOGRAPHY,100,Formerly Formosa,Taiwan,formerly formosa,taiwan,0.000000
19275,10,1984-09-21,Jeopardy!,DOUBLE TALK,100,"Not a Hawaiian cow, but a dress worn by Hawaii...",a muumuu,not a hawaiian cow but a dress worn by hawaiia...,a muumuu,0.500000
...,...,...,...,...,...,...,...,...,...,...
1973,6294,2012-01-19,Double Jeopardy!,4 N,2000,"Inopportune or untimely, like the title ""woman...",inconvenient,inopportune or untimely like the title woman i...,inconvenient,0.000000
1974,6294,2012-01-19,Final Jeopardy!,SPORTS & THE MOVIES,0,"When asked for a home address in ""The Blues Br...",Wrigley Field,when asked for a home address in the blues bro...,wrigley field,0.000000
1959,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,1200,"Relative to the size of the bird, this flightl...",the kiwi,relative to the size of the bird this flightle...,the kiwi,0.000000
1958,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,1200,"Today, this Japanese car company makes the gal...",Mitsubishi,today this japanese car company makes the gala...,mitsubishi,0.000000
1957,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,1200,A New York steak is also known as this alliter...,strip steak,a new york steak is also known as this alliter...,strip steak,0.500000
1956,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,0,This political party founded around 1789 stood...,the Federalists,this political party founded around 1789 stood...,the federalists,0.000000
1934,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,800,In 1851 this company started using a logo with...,Proctor & Gamble,in 1851 this company started using a logo with...,proctor gamble,0.000000
1935,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,800,"While ""January brings the snow"", ""may brings f...",lambs,while january brings the snow may brings flock...,lambs,0.000000
1936,6294,2012-01-19,Jeopardy!,INLETS,800,"This Chilean city whose name means ""valley of ...",Valparaiso,this chilean city whose name means valley of p...,valparaiso,0.000000
1937,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",800,"In the '90s it was ""Enter Sandman"" with this g...",Metallica,in the 90s it was enter sandman with this group,metallica,0.000000
1938,6294,2012-01-19,Jeopardy!,FOREIGN,800,Tredici is Italian for this symbol of bad luck,thirteen,tredici is italian for this symbol of bad luck,thirteen,0.000000
1939,6294,2012-01-19,Jeopardy!,"A SHAKESPEARE PLAY, FOR OPENERS",1000,This play opens most dramatically with thunder...,The Tempest,this play opens most dramatically with thunder...,the tempest,0.000000
1940,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,1000,In 1927 this brand name first appeared on a Se...,Kenmore,in 1927 this brand name first appeared on a se...,kenmore,0.000000
1941,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,1000,"""Here we go round"" this bush ""on a cold and fr...",the mulberry bush,here we go round this bush on a cold and frost...,the mulberry bush,0.333333
1942,6294,2012-01-19,Jeopardy!,INLETS,1000,North Carolina's Albemarle Sound is no deeper ...,the Outer Banks,north carolina s albemarle sound is no deeper ...,the outer banks,0.000000
1943,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",1000,"In the 2000s ""Makes Me Wonder"" got this group ...",Maroon 5,in the 2000s makes me wonder got this group no...,maroon 5,0.000000
1932,6294,2012-01-19,Jeopardy!,FOREIGN,600,"If Popeye spoke Hebrew he'd ask for tered, this",spinach,if popeye spoke hebrew he d ask for tered this,spinach,0.000000
1944,6294,2012-01-19,Jeopardy!,FOREIGN,1000,"In German, berg is this topographical feature ...",a mountain,in german berg is this topographical feature o...,a mountain,0.500000
1946,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,400,"If you can't stand the heat, there's always th...",steak tartare,if you can t stand the heat there s always thi...,steak tartare,0.000000
1947,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,400,The British A22 Mark IV tank carried a 75-mill...,Churchill,the british a22 mark iv tank carried a 75 mill...,churchill,0.000000
1948,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,400,"Able to lift 850 times its own weight, the str...",beetle,able to lift 850 times its own weight the stro...,beetle,0.000000
1949,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,400,Blair Underwood as President Elias Martinez,The Event,blair underwood as president elias martinez,the event,0.000000
1950,6294,2012-01-19,Double Jeopardy!,4 N,400,"Number of ""beers on the wall"" at the beginning...",ninety-nine,number of beers on the wall at the beginning o...,ninety nine,0.000000
1951,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,800,In 1951 he told a joint session of congress th...,(Douglas) McArthur,in 1951 he told a joint session of congress th...,douglas mcarthur,0.000000
1952,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,800,A New England boiled dinner is traditionally m...,corned beef,a new england boiled dinner is traditionally m...,corned beef,0.000000
1953,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,800,"Ships in the U.S. Navy's Casablanca class of ""...",aircraft carriers,ships in the u s navy s casablanca class of es...,aircraft carriers,0.000000
1954,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,800,Dennis Haysbert & D.B. Woodside as David & Way...,24,dennis haysbert d b woodside as david wayne pa...,24,0.000000
1955,6294,2012-01-19,Double Jeopardy!,4 N,800,"""U"" know it means not deliberate; I'm sorry, t...",unintentional,u know it means not deliberate i m sorry that ...,unintentional,0.000000
1945,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,400,In December 1974 this former New York governor...,Rockefeller,in december 1974 this former new york governor...,rockefeller,0.000000
1922,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,400,In 1997 Tyco International moved to this U.K. ...,Bermuda,in 1997 tyco international moved to this u k t...,bermuda,0.000000

In [22]:
for index, row in jeopardy.iterrows():
    split_question = row['clean_question'].split()
    for word in split_question:
        if len(word) < 6:
            split_question.remove(word)
        match_count = 0
        if word in terms_used:
            match_count += 1
        terms_used.add(word)
    if len(split_question) > 0:
        match_count = match_count / len(split_question)
    question_overlap.append(match_count)

In [24]:
jeopardy['question_overlap'] = pd.Series(question_overlap)

In [26]:
jeopardy.tail()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,answer_in_question,question_overlap
19994,3582,2000-03-14,Jeopardy!,U.S. GEOGRAPHY,200,"Of 8, 12 or 18, the number of U.S. states that...",18,of 8 12 or 18 the number of u s states that to...,18,1.0,0.125
19995,3582,2000-03-14,Jeopardy!,POP MUSIC PAIRINGS,200,...& the New Power Generation,Prince,the new power generation,prince,0.0,0.500
19996,3582,2000-03-14,Jeopardy!,HISTORIC PEOPLE,200,In 1589 he was appointed professor of mathemat...,Galileo,in 1589 he was appointed professor of mathemat...,galileo,0.0,0.125
19997,3582,2000-03-14,Jeopardy!,1998 QUOTATIONS,200,"Before the grand jury she said, ""I'm really so...",Monica Lewinsky,before the grand jury she said i m really sorr...,monica lewinsky,0.0,0.000
19998,3582,2000-03-14,Jeopardy!,LLAMA-RAMA,200,Llamas are the heftiest South American members...,Camels,llamas are the heftiest south american members...,camels,0.0,0.125

In [27]:
jeopardy['question_overlap'].mean()

0.12288923515473935

Aproximadamente 10% das questões são recicladas(?)

In [29]:
def high_value(value_col):
    if value_col > 800:
        value = 1
    else:
        value = 0
    return value

jeopardy['high_value'] = jeopardy['Value'].apply(high_value)
jeopardy.tail(30)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,answer_in_question,question_overlap,high_value
19969,5694,2009-05-14,Double Jeopardy!,AMERICAN HISTORY,1200,In 1960 the last of these locomotives was reti...,steam engines,in 1960 the last of these locomotives was reti...,steam engines,0.000000,0.100000,1
19970,5694,2009-05-14,Double Jeopardy!,"MIND YOUR SHAKESPEARE ""P""s & ""Q""s",1200,"Kate: ""if I be waspish, best beware my sting"";...",Petruchio,kate if i be waspish best beware my sting his ...,petruchio,0.000000,0.100000,1
19971,5694,2009-05-14,Double Jeopardy!,ALMA MATERS,0,This private college in Northern California bo...,Stanford University,this private college in northern california bo...,stanford university,0.000000,0.100000,0
19972,5694,2009-05-14,Double Jeopardy!,ACTRESSES,1200,"She voiced Princess Pea in ""The Tale of Desper...",Emma Watson,she voiced princess pea in the tale of despere...,emma watson,0.000000,0.090909,1
19973,5694,2009-05-14,Double Jeopardy!,2-LETTER WORDS,1200,It's the name of the long-awaited new White Ho...,Bo,it s the name of the long awaited new white ho...,bo,0.000000,0.166667,1
19974,5694,2009-05-14,Double Jeopardy!,ANGELS & DEMONS,1200,"Langdon in ""Angels & Demons"" is looking for <a...",an antimatter bomb,langdon in angels demons is looking for a href...,an antimatter bomb,0.333333,0.055556,1
19975,5694,2009-05-14,Double Jeopardy!,AMERICAN HISTORY,1600,In the 1600s most of New York State was occupi...,the Iroquois,in the 1600s most of new york state was occupi...,the iroquois,0.000000,0.111111,1
19976,5694,2009-05-14,Double Jeopardy!,"MIND YOUR SHAKESPEARE ""P""s & ""Q""s",1600,Marina's dad (need a hint? he rules Tyre),Pericles,marina s dad need a hint he rules tyre,pericles,0.000000,0.200000,1
19977,5694,2009-05-14,Double Jeopardy!,ALMA MATERS,1600,Presidential kids are welcome at this New Orle...,Tulane,presidential kids are welcome at this new orle...,tulane,0.000000,0.090909,1
19978,5694,2009-05-14,Double Jeopardy!,ACTRESSES,1600,She didn't vamp it up & did a bella job as Em ...,Kristen Stewart,she didn t vamp it up did a bella job as em in...,kristen stewart,0.000000,0.142857,1
19979,5694,2009-05-14,Double Jeopardy!,2-LETTER WORDS,1600,Third syllable intoned by the giant who smells...,fo,third syllable intoned by the giant who smells...,fo,0.000000,0.125000,1
19980,5694,2009-05-14,Double Jeopardy!,ANGELS & DEMONS,1600,"Much of ""Angels & Demons"" takes place at one o...",a conclave,much of angels demons takes place at one of a ...,a conclave,0.500000,0.000000,1
19981,5694,2009-05-14,Double Jeopardy!,AMERICAN HISTORY,0,In 1899 Secretary of State John Hay proclaimed...,open-door policy,in 1899 secretary of state john hay proclaimed...,open door policy,0.333333,0.083333,0
19982,5694,2009-05-14,Double Jeopardy!,"MIND YOUR SHAKESPEARE ""P""s & ""Q""s",2000,"Fruity surname of Peter in ""A Midsummer Night'...",Quince,fruity surname of peter in a midsummer night s...,quince,0.000000,0.166667,1
19983,5694,2009-05-14,Double Jeopardy!,ALMA MATERS,2000,"Quincy Jones, Kevin Eubanks & Branford Marsali...",Berklee,quincy jones kevin eubanks branford marsalis a...,berklee,0.000000,0.100000,1
19984,5694,2009-05-14,Double Jeopardy!,ACTRESSES,2000,"In 2009 she returned to being ""Fast & Furious""...",Michelle Rodriguez,in 2009 she returned to being fast furious as ...,michelle rodriguez,0.000000,0.200000,1
19985,5694,2009-05-14,Double Jeopardy!,2-LETTER WORDS,2000,"The book of Genesis says this ancient city ""of...",Ur,the book of genesis says this ancient city of ...,ur,0.000000,0.111111,1
19986,5694,2009-05-14,Double Jeopardy!,ANGELS & DEMONS,2000,"""Habakkuk and the Angel"" is one of a series of...",Bernini,habakkuk and the angel is one of a series of a...,bernini,0.000000,0.000000,1
19987,5694,2009-05-14,Final Jeopardy!,SCIENCE TERMS,0,"In medieval England, it meant the smallest uni...",atom,in medieval england it meant the smallest unit...,atom,0.000000,0.076923,0
19988,3582,2000-03-14,Jeopardy!,U.S. GEOGRAPHY,100,This Texas city is the largest in the U.S. to ...,Houston (Lee Brown),this texas city is the largest in the u s to h...,houston lee brown,0.000000,0.125000,0
19989,3582,2000-03-14,Jeopardy!,POP MUSIC PAIRINGS,100,...& the Crickets,Buddy Holly,the crickets,buddy holly,0.000000,1.000000,0
19990,3582,2000-03-14,Jeopardy!,HISTORIC PEOPLE,100,In the 990s this son of Erik the Red brought C...,Leif Ericson,in the 990s this son of erik the red brought c...,leif ericson,0.000000,0.142857,0
19991,3582,2000-03-14,Jeopardy!,1998 QUOTATIONS,100,"Concerning a failed Windows 98 demonstration, ...",Bill Gates,concerning a failed windows 98 demonstration h...,bill gates,0.000000,0.100000,0
19992,3582,2000-03-14,Jeopardy!,LLAMA-RAMA,100,"This llama product is used to make hats, blank...",Wool,this llama product is used to make hats blanke...,wool,0.000000,0.166667,0
19993,3582,2000-03-14,Jeopardy!,DING DONG,100,In 1967 this company introduced its chocolate-...,Hostess,in 1967 this company introduced its chocolate ...,hostess,0.000000,0.142857,0
19994,3582,2000-03-14,Jeopardy!,U.S. GEOGRAPHY,200,"Of 8, 12 or 18, the number of U.S. states that...",18,of 8 12 or 18 the number of u s states that to...,18,1.000000,0.125000,0
19995,3582,2000-03-14,Jeopardy!,POP MUSIC PAIRINGS,200,...& the New Power Generation,Prince,the new power generation,prince,0.000000,0.500000,0
19996,3582,2000-03-14,Jeopardy!,HISTORIC PEOPLE,200,In 1589 he was appointed professor of mathemat...,Galileo,in 1589 he was appointed professor of mathemat...,galileo,0.000000,0.125000,0
19997,3582,2000-03-14,Jeopardy!,1998 QUOTATIONS,200,"Before the grand jury she said, ""I'm really so...",Monica Lewinsky,before the grand jury she said i m really sorr...,monica lewinsky,0.000000,0.000000,0
19998,3582,2000-03-14,Jeopardy!,LLAMA-RAMA,200,Llamas are the heftiest South American members...,Camels,llamas are the heftiest south american members...,camels,0.000000,0.125000,0

In [30]:
def count_terms(word):
    low_count = 0
    high_count = 0
    for index, row in jeopardy.iterrows():
        split_question = row['clean_question'].split()
        if word in split_question:
            if row['high_value'] == 1:
                high_count += 1
            else:
                low_count += 1
    return low_count, high_count

In [46]:
from random import sample

comparison_terms = sample(terms_used, 10)
observed_expected = []

In [47]:
for word in comparison_terms:
    count = count_terms(word)
    observed_expected.append(list(count))

In [48]:
observed_expected

[[7, 3],
 [3, 2],
 [1, 0],
 [3, 1],
 [1, 0],
 [1, 0],
 [32, 14],
 [1, 0],
 [2, 1],
 [1, 0]]

In [49]:
high_value_count = jeopardy['high_value'].value_counts()[1]
low_value_count = jeopardy['high_value'].value_counts()[0]
chi_squared = []

In [57]:
from scipy.stats import chisquare
import numpy as np

for i in observed_expected:
    total = sum(i)
    total_prop = total/jeopardy.shape[0]
    exp_high = total_prop * high_value_count
    exp_low = total_prop * low_value_count
    
    obs = np.array([i[0], i[1]])
    exp = np.array([exp_low, exp_high])
    chi_squared.append(chisquare(obs,exp))

chi_squared

[Power_divergenceResult(statistic=0.14136090167759724, pvalue=0.7069318227511996),
 Power_divergenceResult(statistic=0.6134279937303524, pvalue=0.4335000217020267),
 Power_divergenceResult(statistic=0.3308710986890265, pvalue=0.565146603267378),
 Power_divergenceResult(statistic=4.122707846712507e-05, pvalue=0.9948769527982859),
 Power_divergenceResult(statistic=0.3308710986890265, pvalue=0.565146603267378),
 Power_divergenceResult(statistic=0.3308710986890265, pvalue=0.565146603267378),
 Power_divergenceResult(statistic=0.7649501956443188, pvalue=0.38178379753448455),
 Power_divergenceResult(statistic=0.3308710986890265, pvalue=0.565146603267378),
 Power_divergenceResult(statistic=0.11526980495624546, pvalue=0.7342224981885828),
 Power_divergenceResult(statistic=0.3308710986890265, pvalue=0.565146603267378)]

Nenhum resultado estatísticamente relevante. Todos p_values muito superiores à 0.05. Isso significa que, dentre os termos selecionados, não há discrepancia anormal entre a aparição em perguntas de alto ou baixo valor.